.abstract {
    margin-top: 10px;
}

.login-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.user-details {
    margin-bottom: 12px;
}

.username {
    padding-left: 0;
    cursor: auto;
    text-transform: none;
}

.username img {
    margin-right: 15px;
    height: inherit;
    float: left;
}

.normal-label {
    top: 0;
    font-size: 1rem;
} 

.select-wrapper {
    background-color: #fff1cd;
    padding: 0 15px;
}

.select-row {
    background-color: #fff1cd;
    border: 2px solid #900000;
    border-radius: 6px;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}