<h1>Graphene Quantec Library</h1>
<div class="user-details">
  <span *ngIf="(authService.user$ | async)" class="btn orange username">
    <img *ngIf="(authService.user$ | async)" src="{{user.photoURL}}" alt="">
    <span>Hello
      <b>{{user.displayName}}</b>, you are
      <b>{{getRole()}}</b>
    </span>
  </span>
  <div *ngIf="!(authService.user$ | async)" class="login-container">
    <div>
      <img src="assets/nanotube.gif" alt="">
    </div>
    <button (click)="authService.googleLogin()" class="btn green">Log in</button>
  </div>
  <button *ngIf="authService.user$ | async" (click)="authService.signOut()" class="btn red">Log out</button>
</div>
<div *ngIf="(authService.user$ | async)">
  <div class="row select-row">
    <div class="input-field custom-select col s4">
      <select name="categories" [(ngModel)]="selectedCategory" materialize="material_select" (change)="chooseCategory()">
        <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
      </select>
      <label class="active normal-label">Category</label>
    </div>
    <div *ngIf="showSteps" class="input-field col s4">
      <select name="steps" [(ngModel)]="selectedStep" materialize="material_select" (change)="getItems()">
        <option *ngFor="let step of steps" [ngValue]="step.name">{{step.name}}</option>
      </select>
      <label class="active normal-label">Step</label>
    </div>
    <div class="input-field col s4">
        <button *ngIf="authService.canAddOrDelete(user)" (click)="addItem()" class="btn green">Add publication</button>
    </div>
  </div>
  <div *ngIf="false">
    <button (click)="sortBy('Year')" class="btn green">Sort by Year</button>
    <button (click)="sortBy('Title')" class="btn green">Sort by Title</button>
    <button (click)="getItems()" class="btn green">Clear sort</button>
  </div>
</div>

<div *ngIf="authService.canRead(user)">
  <ul *ngFor="let item of items" class="collection">
    <li (click)="activate(item)" class="collection-item float-container">
      <div class="float-container">
        <div class="float-image-left">
          <a href="{{item.Link}}" target="_blank">
            <img style="width:100%;" src="{{item.ImageUrl}}" alt="">
          </a>
        </div>
        <div class="float-text-right">
          <div style="margin-bottom: 12px;">
            <strong>{{item.Author}}</strong>, "
            <a href="{{item.Link}}" target="_blank">{{item.Title}}</a>", {{item.Year}}</div>
          <div>
            <strong>Keywords</strong>: {{item.Keywords}}</div>
          <div>
            <div *ngIf="activeItemId == item.id" class="abstract">
              <div>
                <strong *ngIf="item.Abstract" (click)="showAbstract()">Abstract</strong>
                <strong *ngIf="item.Description" (click)="showDescription()">Description</strong>
              </div>
              <div *ngIf="isAbstract">{{item.Abstract}}</div>
              <div *ngIf="isDescription">{{item.Description}}</div>
            </div>
          </div>
        </div>
      </div>
      <a *ngIf="activeItemId == item.id && authService.canEdit(user)" href="#" class="secondary-content">
        <i (click)="closeItem($event)" class="fa fa-close"></i>
        <i *ngIf="!editState" (click)="editItem($event, item)" class="fa fa-pencil"></i>
        <i *ngIf="editState" (click)="clearState()" class="fa fa-compress"></i>
      </a>
      <div class="float-container" *ngIf="editState && activeItemId == item.id">
        <form (ngSubmit)="updateItem(item)">
          <div class="row">
            <div class="input-field col s4">
              <select name="categories" [(ngModel)]="item.Category" materialize="material_select">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
              </select>
              <label class="active normal-label">Category</label>
            </div>
            <div class="input-field col s4">
              <select name="steps" [(ngModel)]="item.Step" materialize="material_select">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let step of steps" [ngValue]="step.name">{{step.name}}</option>
              </select>
              <label class="active normal-label">Step</label>
            </div>
            <div class="input-field col s4">
              <input type="text" placeholder="Add Author" [(ngModel)]="item.Author" name="Author">
              <label class="active">Author</label>
            </div>
            <div class="input-field col s4">
              <input type="text" placeholder="Add Title" [(ngModel)]="item.Title" name="Title">
              <label class="active">Title</label>
            </div>
            <div class="input-field col s4">
              <input type="number" placeholder="Add Year" [(ngModel)]="item.Year" name="Year">
              <label class="active">Year</label>
            </div>
            <div class="input-field col s4">
              <input type="text" placeholder="Add Link" [(ngModel)]="item.Link" name="Link">
              <label class="active">Link</label>
            </div>
            <div class="input-field col s4">
              <input type="text" placeholder="Add Image Url" [(ngModel)]="item.ImageUrl" name="ImageUrl">
              <label class="active">Image Url</label>
            </div>
            <div class="input-field col s4">
              <input type="text" placeholder="Add Keywords" [(ngModel)]="item.Keywords" name="Keywords">
              <label class="active">Keywords</label>
            </div>
            <div class="input-field col s4">
              <input type="text" placeholder="Add Abstract" [(ngModel)]="item.Abstract" name="Abstract">
              <label class="active">Abstract</label>
            </div>
            <div class="input-field col s4">
              <input type="text" placeholder="Add Description" [(ngModel)]="item.Description" name="Description">
              <label class="active">Description</label>
            </div>
            <input type="submit" value="Update Item" class="btn orange">
            <button *ngIf="authService.canAddOrDelete(user)" (click)="deleteItem(item)" class="btn red">DeleteItem</button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>