<div class="card">
  <div class="card-content">
    <div class="card-title"></div>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col s4">
          <input type="text" placeholder="Add Author" [(ngModel)]="item.Author" name="Author">
          <label>Author</label>
        </div>
        <div class="input-field col s4">
          <input type="text" placeholder="Add Title" [(ngModel)]="item.Title" name="Title">
          <label>Title</label>
        </div>
        <div class="input-field col s4">
          <input type="number" placeholder="Add Year" [(ngModel)]="item.Year" name="Year">
          <label>Year</label>
        </div>
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
</div>